#sudoku_title {
  background: black;
  color: white;
  margin: 0px 0px 2px 0px;
  font-size: 20px;
  padding: 2px 1px 5px 1px;
  text-align: center;
}

td {
  margin: 0px 0px 2px 0px;
  font-size: 15px;
  text-align: center;
  width: 25px;
  height: 25px;
}

#buttonForBoard {
  visibility: hidden;
}
