.screen-header{
    position: fixed;
    top: 30px;
    height: 60px;
    width: 100%;
    display: flex;
    padding: 0px 15px;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.screen-header__title{
    font-size: 30px;
    font-weight: bold;
}

.screen-header__icons span{
    margin-left: 20px;
}